/* Add a black background color to the top navigation */
.topnav {
	width: 100%;
	background-color: #333;
	overflow: hidden;
}

/*.language {*/
/*	position: absolute;*/
/*	right: 0;*/
/*	background-color: #333;*/
/*}*/

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Style the links inside the navigation bar */
.topnav label {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav label:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav label.active {
	background-color: #4CAF50;
	color: white;
}

.non_resp_form {
	background-color: wheat;
	width: 1080px;
}

table,
td {
	border: 1px solid #333;
}

thead,
tfoot {
	background-color: #333;
	color: #fff;
}

.video {
	padding: 25px 25px 25px 25px;
}

.pagination {
	background-color: honeydew;
	float: left;
	padding: 10px 20px;
	text-decoration: beige;
	transition: background-color .3s;
}

.pagination label.active {
	background-color: aquamarine;
	color: red;
}

.question_color,
.question_color_picker,
.question_range,
.question_ol,
.question_table {
	width: 50%;
	float: right;
}

.question_date,
.question_time,
.question_filltext,
.question_code,
.question_flavor {
	width: 50%;
	float: right;
}
